.search-bar{
   margin:0;
   padding: 8px;
   -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
   background-color: #0277bd; 
   position: relative;
   z-index: 999;
}
.search-bar input{
   width: 100%;
   border-radius: 6px;
}
.list-group{
   height: calc(100vh - 58px);
   overflow-y: scroll;
   overflow-x: hidden;
}
.list-group-item{
   margin-bottom: 3px;
}
.list-group-item-wrapper{
   /* flex: 0 0 100%; */
   display: inline-block;
   width: 100%;
}
.profile-pic{
   float: left;
}
.profile-pic img{
   border-radius: 100%;
   width: 50px;
   height: 50px;     
}
.name{
   float: left; 
   margin-top: 3px;
   margin-left: 15px;
}
.last_seen{
   font-size: 0.8em;
   color: #909090;
}
.status{
   float: right;
   margin-top: 12px; 
}
.badge-online{
   background: #1bbf1b;
   border-radius: 100%;
   padding:0.5em;
   display: inline-block;
}
.badge-offline{
   background: #dedede;
   border-radius: 100%;
   padding:0.5em;
   display: inline-block;
}